* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}


body {
    background-color: rgb(159, 230, 241);
    
}

header {
    background-color: #333;
    color:blanchedalmond;
    text-align: center;
    padding: 20px;

}

nav ul li {
    display: inline-block;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-display: block;

}

main, header, h2 {
    padding: 20px;
    
}

h2 {
    padding-left: 0;
}

.box {
    background-color: coral;
    height: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    margin-left: 0px; 
    float: left; 
}

