body {
    background-color: rgb(36, 112, 72) ;
    padding: 35%;
   padding-top: 50px;
   
}

h1 { 
    text-align: center;
    padding-top: 5%;
  }

.first_para {
    text-align: center;
} 
  
input {
    width: 95%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    

}

.container {
    width: 300px;
    background-color: white;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    padding-right: 10px;
    padding-left: 20px;

 }   
.fn {
    font-size: 10px;
    margin-bottom: 5px;
    
}

h2{
    text-align: center;
    padding-right: 10px;
    
    
}

.signup {
    border: none;
    border-radius: 5px;
    background-color: tomato;
    text-align: center;
    color: white;
    width: 80%;
    height: 30px;
}

.second_para{
    font-size: 12px;
    text-align: center;
    padding-bottom: 10%;
}
.text {
    font-family: 'Raleway', sans-serif;
    color: white;

}
a {
    color:  rgb(248, 118, 71);
    text-decoration: none;
}



