body {
    background-color: burlywood;
    background-image: url('bg.image.avif');
}

img {
    width: 200px;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
    display: inline;
    display: block;  
}
h1,h2,h3,h4,h5,h6 {
    color: rgb(3, 157, 3);
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    width: 200px;

}
ol li {
    list-style-type: lower-greek;
}
